<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
   <div class="title1"><h3>Business Ideas</h3></div>
</nav>
<div class="basecontainer">
<div class="page-header">
  <div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-4">
            <div class="bs-component">
              <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">TECHNOLOGY</div>
                <div class="card-body">
                  <h4 class="card-title"> <span class="badge badge-secondary"> <a routerLink="/tech"  routerLinkActive="active">  Latest Trends </a></span></h4>
                  <p class="card-text">Hardware or software. Invention or innovation. If someone’s pushing technology forward, you’ll find it here.</p>
                </div>
              </div>
              
              <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header">GAMES</div>
                <div class="card-body">
                  <h4 class="card-title"><span class="badge badge-secondary"><a routerLink="/game"  routerLinkActive="active">  Game Zones </a></span></h4>
                  <p class="card-text">Find something new and exciting to play at home or on the go. Work can wait. Have some fun.</p>
                </div>
              </div>
              <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                <div class="card-header">BOOKS</div>
                <div class="card-body">
                  <h4 class="card-title"><span class="badge badge-secondary"><a routerLink="/book"  routerLinkActive="active">Bibliophiles </a></span></h4>
                  <p class="card-text">There’s just nothing like a good book. Expand your knowledge or just kick back with a great adventure.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
              <div class="bs-component">
                <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
                  <div class="card-header">ARTIFICIAL INTELLIGENCE</div>
                  <div class="card-body">
                    <h4 class="card-title"><span class="badge badge-secondary"><a routerLink="/ai"  routerLinkActive="active">AI Spoilers </a></span></h4>
                    <p class="card-text">A.I. helps save us time and scale personalized services like shopping like never before.</p>
                  </div>
                </div>
                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                  <div class="card-header">DEVELOPER TOOLS</div>
                  <div class="card-body">
                    <h4 class="card-title"><span class="badge badge-secondary"><a routerLink="/dev"  routerLinkActive="active">Dev Zone </a></span></h4>
                    <p class="card-text">Writing code is hard. So we make software to help us write software the smarter way.</p>
                  </div>
                </div>
                
                <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                  <div class="card-header">INTERNET OF THINGS</div>
                  <div class="card-body">
                    <h4 class="card-title"><span class="badge badge-secondary "><a routerLink="/iot"  routerLinkActive="active">IOT for Users </a></span></h4>
                    <p class="card-text">Live in the future with the latest in connected devices, furniture built for comfort, and robots. Yes, robots.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="bs-component">
                  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">PRODUCTIVITY</div>
                    <div class="card-body">
                      <h4 class="card-title"><span class="badge badge-secondary"><a routerLink="/analytics"  routerLinkActive="active">Analytics </a></span></h4>
                      <p class="card-text">If time is most precious, this collection of lifehacks is so so precious. Be more productive and optimize your life.</p>
                    </div>
                  </div>
                  
                  <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">TouchBar Ideas</div>
                    <div class="card-body">
                      <h4 class="card-title"><span class="badge badge-secondary"><a routerLink="/touchbar"  routerLinkActive="active">Ethical Knowledge </a></span></h4>
                      <p class="card-text">Apps built for Apple's new Touch Bar. It's now easier than ever to measure the progress of your resolutions.  </p>
                    </div>
                  </div>
                  <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                    <div class="card-header">WEARABLES</div>
                    <div class="card-body">
                      <h4 class="card-title"><span class="badge badge-secondary"><a routerLink="/vr"  routerLinkActive="active">AR/VR </a></span></h4>
                      <p class="card-text">From dog collars to wrist watches, there's wearable technology for everything.</p>
                    </div>
                  </div>
                </div>
              </div>
    </div>
  </div>
</div>
</div>    
    
<!-- <div class="container">
  <div *ngFor = "let idea of ideas">
    <div class="col-md-3">  
      <img src="{{idea.idea_img}}" alt="NoIMG">
      {{idea.idea_name}}
    </div>
    <div class="col-md-3">{{idea.idea_content}}</div>
    <div class="col-md-3">  
      {{idea.idea_ratings}}
    </div>
  </div>
</div>-->
 <!-- <div>
  InsertAllData
  <button  (click)="insertIntoMongo()">Insert</button>
</div>   -->

<!-- <div>ideas</div> -->